.wraper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

body {
    width: 100%;
    background-color: #F6E7cf;
}


/*--------------------------------NAVEGATOR---------------------------*/

.description {
    color: #010102;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 15px;
}

.description:hover {
    color: #0056b3;

}

nav {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F4DFC8;

}

#logfem {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 4px;


}

.Fem-tech {
    display: flex;
    flex-direction: row;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

.navbarright {
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.ayuda {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.popup {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 1000;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ayuda:hover+.popup {
    display: block;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.shipping {
    text-align: center;
    background-color: #F6E7cf;
    text-align: center;
    transition: background-color 0.4 ease-in-out;
}

.shipping:hover {
    text-align: center;
    background-color: black;
    transform: scale(1.1);
}

.Envío_gratis:hover {
    color: #F6E7cf;
    transform: scale(1.1);

}

#lang {
    height: 20px;
    width: 20px;
    margin-left: 9px;

}

#lang:hover+#language {
    display: block;
}

#userImage {
    height: 20px;
    width: 20px;
    margin-left: 6px;
    margin-right: 6px;


}

#userModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}


#userImage:hover+#userModal {
    display: block;
}

.cart-content {
    display: none;
    position: fixed;
    top: 22%;
    right: -10%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}

.show-cart:hover .cart-content {
    display: block;
}

#shop {
    height: 20px;
    width: 20px;
    margin-top: -8px;
    margin-right: 10px;
}

/*-----------------------------Parte principal------------------------*/
.content {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: #F4DFC8;
    grid-template-rows: 50% 50%;

}

/*---------GRIT----------*/

.sidebar {
    background-color: #F4DFC8;
    grid-area: 1/1/1/2;
}

.carousel {
    background-color: #F4DFC8;
    grid-area: 1/2;
    margin-top: 5px;
}

.promotion {
    background-color: #F4DFC8;
    grid-area: 2/2;
    margin-top: 30px;

}




/*---------------------------SideBar-------------------------------*/

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #F4DFC8;
}

.container {
    background-color: #F4DFC8;
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    border-radius: 5px;
}


.container__holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 7px;
    padding: 1px;
    position: relative;
}

/*------------------ANIMATION--------------*/

.container__holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px #634813cc;
    transition: box-shadow 0.3s ease-in-out;
}

.container__holder:hover::before {
    box-shadow: 0 0 20px #f1a10ab9;
    transform: scale(1.1);
}


.container__holder_img {
    height: 40px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container__holder_img img {

    width: auto;
    height: 100%;
    max-width: 100%;
    border-radius: 10%;
}

.container__holder_item {
    width: 60%;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: black;
}


/*-------------------FILTER----------------------*/

#filter {

    box-shadow: 0 0 10px #634813;
    padding: 6px;
    margin-top: 20px;
}

.title-filter_img {
    width: 25px;
    height: auto;
    border: 1px solid #cebda3;
    border-radius: 5px;
    background-color: #FAF6F0;
}

.status-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title-label,
.container__title {
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.minmax-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    width: 45%;
    font-size: 12px !important;
}

.form-control {
    border-radius: 10px;
    background-color: #FAF6F0;
    border: none;


}

.btn-result {
    background-color: #FAF6F0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #634813;
    height: 30px;
    width: 100%;
    font-weight: bold;
    padding: auto;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;

}

.btn-result:hover {
    background-color: #e9c9aa;
    color: #fff;
    border: 1px solid #634813;
    transform: scale(1.05);
}




/*-----------------------------FOOTER------------------------------*/
.footer {
    background-color: #F6E7cf;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.contactacn {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: 20px;
}

.politicaprivacidad {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: 20px;
}

.popup1 {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.contactacn:hover .popup1 {
    display: block;
}

.politicaprivacidad:hover .popup1 {
    display: block;
}

.icons1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    font-size: 50px;
    color: #000000;
    padding: 15px;
}

.icons1 a {
    margin-right: 20px;
    font-size: 36px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}

.rating input:checked~label {
    color: gold;
}

.resp {
    margin-right: 20px;
}

.submenupago {
    display: flex;
    float: center;
    border: 1px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

@media screen and (max-width: 900px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }


    .content {
        flex-direction: column;
    }

    .sidebar {
        grid-area: 1, 1;
    }


    .carousel {
        grid-area: 1, 2;

    }

    .promotion {
        grid-area: 2, 2;


    }

    #filter-form {
        display: none;
    }

    #filter:hover #filter-form {
        display: flex;
        flex-direction: column;
    }

    .title-filter_img {
        display: block;


    }

    .title-label {
        display: none;

    }

    .container__holder_item {
        display: none;

    }

    .container__holder {
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .footer {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .navbarright {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icons {
        flex-direction: row;
        justify-content: center;
    }

    .cart-content {
        top: 50%;
        right: -10%;
        transform: translate(-50%, -50%);
        z-index: 1000;

    }

    .content {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .sidebar {
        grid-row: 1;
        grid-column: 1;
        align-items: center;
        background-color: #F6E7cf;

    }

    .container {
        flex-direction: row;
        background-color: #F6E7cf;
        margin-right: 30%;

    }

    .carousel {
        grid-row: 2;
        grid-column: 1;
        margin-top: -3%;
    }

    .promotion {
        grid-row: 3;
        grid-column: 1;
        margin-top: 5%;
    }

    .container__holder_img {
        width: 30px;
        height: 30px;
    }


    .img_phone {
        display: none;
    }


    #filter-form {
        display: none;
    }

    #filter:hover #filter-form {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        padding: 10px;
        background-color: #F4DFC8;
    }

    .title-filter_img {
        display: block;
        margin-bottom: 5px;
    }


    .title-label {
        display: none;
    }

    .container__holder_item {
        display: none;
    }

    .container__holder {
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .icons1 {

        flex-direction: column;

    }

    i {
        font-size: 30px;
        color: #000000;

    }

    .contactacn,
    .politicaprivacidad,
    .resp {
        font-size: smaller;
    }
}